.analytics-container {
    margin-left:10%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
}

.title {
    grid-column: span 6;
    font-size: 30px;
    font-weight: bold;
}

.button-teams {
    grid-column: span 6;
    display: flex;
    align-items: center;
    justify-content: start;
}

.pitch {
    display: flex;
    justify-content: center;
}

.passing-network-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.passing-network-container div p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.player-input {
    margin-left: 100px;
    align-content: center;
}

.pitch-container{
    max-width: 600px;
}

.heatmaps-pitch-container{
    max-width: 800px;
}